ul.breadcrumb {
    padding: 10px 16px;
    margin: 15px;
    list-style: none;
    text-align: center;
}
ul.breadcrumb li {
    display: inline;
    font-family: serif;
    font-size: 14px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #000000;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #000000;
    text-decoration: underline;
}