.facebook{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(7, 7, 7);
    font-size: 25px;
}
.addres {
    font-family: 'Times New Roman', Times, serif;
    color:rgb(7, 7, 7);
    font-size: 25px;
}
